<div class="subject-drop">
    <div class="sg-select subject-select">
        <select class="sg-select__element pick-subject" onchange="location=this.value;">
            <option value="index.html" selected="selected">Toate Materiile</option>
            <option value="limba-română.html">Limba Română</option>
            <option value="matematică.html">Matematică</option>
            <option value="engleză.html">Engleză</option>
            <option value="fizică.html">Fizică</option>
            <option value="chimie.html">Chimie</option>
            <option value="biologie.html">Biologie</option>
            <option value="istorie.html">Istorie</option>
            <option value="geografie.html">Geografie</option>
            <option value="religie.html">Religie</option>
            <option value="informatică.html">Informatică</option>
            <option value="franceză.html">Franceză</option>
            <option value="studii-sociale.html">Studii Sociale</option>
           <!-- <option value="tehnologie.html">Ed. tehnologică</option> -->
            <option value="germană.html">Germană</option>
            <option value="latină.html">Latină</option>
            <option value="arte.html">Arte</option>
            <option value="muzică.html">Ed. muzicală</option>
            <option value="rusă.html">Limba Rusă</option>
            <option value="evaluare-națională-matematică.html">Evaluare Națională: Matematică</option>
            <!--<option value="evaluare-națională-română.html">Evaluare Națională: Română</option>-->
        </select>
    </div>
</div>
<div class="subjects">
    <div class="subject-left">
        <a href="index.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-all"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Toate Materiile</div>
            </div>
        </a>
    </div>
    <div class="subject-left"><a href="limba-română.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-language"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Limba Română</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="matematică.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-mathematics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Matematică</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="engleză.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-english"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Engleză</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="fizică.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-physics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Fizică</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="chimie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-chemistry"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Chimie</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="biologie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-environment"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Biologie</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="istorie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-history"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Istorie</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="geografie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-geography"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Geografie</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="religie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-religion"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Religie</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="informatică.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-informatics"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Informatică</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="franceză.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-french"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Franceză</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="studii-sociale.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-social-science"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Studii Sociale</div>
            </div>
        </a></div>
    <!--<div class="subject-left"><a href="tehnologie.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-technology"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Ed. tehnologică</div>
            </div>
        </a></div>-->
    <div class="subject-left"><a href="germană.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-german"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Germană</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="latină.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-latin"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Latină</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="arte.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-art"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Arte</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="muzică.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-music"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Ed. muzicală</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="rusă.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-russian-alt"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Limba Rusă</div>
            </div>
        </a></div>
    <div class="subject-left"><a href="evaluare-națională-matematică.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-egzam"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Evaluare Națională: Matematică</div>
            </div>
        </a></div>
    <!--<div class="subject-left"><a href="evaluare-națională-română.html">
            <div class="subject-icon"><svg class="sg-subject-icon sg-subject-icon--small">
                    <use xlink:href="#icon-subject-egzam"></use>
                </svg></div>
            <div class="subject-name">
                <div class="sg-text sg-text--small sg-text--gray sg-text--bold">Evaluare Națională: Română</div>
            </div>
        </a></div>-->
</div>